{% extends 'base.html.twig' %}
{% block titlepage %}Añadir Uso/Función{% endblock %}
{% block page_header %}
    <div class="card">
        <div class="card-block front-icon-breadcrumb row">
            <div class="breadcrumb-header col">
                <div class="d-inline-block">
                    <h5>Configuración General</h5>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item"><a href="#!">Configuración General</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Listado Uso/Función</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="#!">Añadir Uso/Función</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block contenido %}
    <div class="col-sm-12">
        <!-- Basic Inputs Validation start -->
        <div class="card">
            <div class="card-header">
                <h5>Añadir Uso/Función</h5>
            </div>
            <div class="card-block">
            {{ include('usofuncion/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
